// Dark Mode
frame-dark_border_color = #301b28
backgound-dark_color = #523634
text-dark_color = #FCEBCC
ion-dark_color-1 = #ddc5a2
ion-dakr_color-2 = #F0D6AB

// Light Mode
frame-light_border_color = #523634
background-light_color = #FCEBCC
text-light_color = #301b28


